/* VARIABLES */

:root {
    /* qualitative */
    /* primary */
    --yellowDarkP: #FCAB3F;
    --yellowLightP: #FDC963;
    --darkGrayP: #4D4D4D;
    /* secondary */
    --tealS: #A1D2CE;
    --redS: #F49897;
    --grayS: #c9c8c8;
    --lightGrayS: #FEF2F1;
    /* other */
    --cardBoxShadow: 0px 5px 7px -3px rgba(0, 0, 0, 0.582);
    /* quantitative */
    --displayBorderRadius: 25px;
    --cardBorderRadius: 10px;
}

/* ELEMENT SELECTORS */

/* the box model fit */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    /* font-family: 'Gotham', sans-serif; */
    /* font-family: 'Gotham Black', sans-serif; */
    font-family: 'Gotham 300', sans-serif;
    /* font-family: 'Gotham Thin', sans-serif; */
    /* font-family: 'Gotham XLight', sans-serif; */
    /* font-family: 'Gotham Book', sans-serif; */

    font-size: 13px;
}

table{
    width: 100%;
    height: 100%;
}

table td{
    text-align: center;
    max-height: 100%;
}

/* IDs */

#phone {
    background-color: black;
    height: 720px;
    border-radius: 40px;
    aspect-ratio: 720/1280;
    padding: 40px 12px 40px 12px;
    box-shadow: 20px 20px 50px -10px rgba(0, 0, 0, .5);
}

#display {
    background-color: white;
    border-radius: var(--displayBorderRadius);
}

#appHeader {
    height: 8%;
    border-bottom: 2px solid #ececec;
}

#mobileIconsContainer {
    height: 40%;
    text-align: right;
    /* border: 1px solid cyan; */
}

#locationContainer {
    height: 60%;
    padding-left: 28px;
}

#appBody {
    height: 84%;
}

#datesContainer {
    height: 10%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

#mainContentContainer {
    height: 90%;
    background-color: #f3f3f3;
    overflow-y: auto;
}

#menuButtonsContainer {
    /* border: 2px solid blue; */
    height: 12%;
    text-align: center;
}

#menuContainer {
    /* border: 2px solid blue; */
    height: 88%;
    text-align: center;
    /* overflow-y: auto; */
}

#menuContainer::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

#appFooter {
    height: 8%;
    background-color: var(--grayS);
    padding-left: 22px;
    padding-right: 22px;
}

#menuIcon{
    height: 25px;
}

#menuButtonsTable td{
    max-width: 10px;
}

#plusOneIcon{
    color: var(--yellowLightP);
    font-size: 13px;
}

#datesTable{
    font-size: 9px;
}

#datesTable #bottomRow td{
    width: 0%;
    padding-left: 6px;
    padding-right: 6px;
}

/* CLASSES */

.centerChildrenHorizontally {
    display: flex;
    justify-content: center;
}

.fillWidth {
    width: 100%;
}

.fillHeight {
    height: 100%;
}

.topLimit {
    border-top-left-radius: var(--displayBorderRadius);
    border-top-right-radius: var(--displayBorderRadius);
}

.bottomLimit {
    border-bottom-left-radius: var(--displayBorderRadius);
    border-bottom-right-radius: var(--displayBorderRadius);
}

.card {
    width: 40%;
    display: inline-block;
    text-align: left;
    height: 180px;
    border-radius: var(--cardBorderRadius);
    box-shadow: var(--cardBoxShadow);
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
}

.imageCard {
    max-width: 100%;
    height: 82%;
    border-radius: var(--cardBorderRadius);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: 100%;
    /* display: flex; */
    box-shadow: var(--cardBoxShadow);
}

.quantityContainer {
    background-color: white;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    max-width: 90%;
}

.mealTag{
    color: var(--yellowLightP);
}

.gradientShadow {
    background-color: var(--redS);
    padding: 5px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-radius: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.mealArea {
    color: white;
}

.mealName {
    color: var(--yellowLightP);
}

.cardFooter {
    height: 18%;
    padding: 7px;
}

.iconContainer {
    width: 10%;
    /* float: left; */
}

.fa-clock {
    color: var(--yellowLightP);
}

/* .managedTextLength{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
} */

.mealPrice {
    float: right;
    text-align: right;
    width: 80%;
    font-size: 13px;
    text-overflow: ellipsis;
}

.footerIcon{
    height: 20px;
    cursor: pointer;
}

.myButton{
    border: 1px solid #e4e4e4;
    background-color: white;
    cursor: pointer;
    padding: 5px;
}

.myButton:active{
    box-shadow: inset 0px 2px 2px 2px rgba(0, 0, 0, 0.247);
}

.menuButton{
    width: 100%;
    border-radius: 20px;
    height: 55%;
    font-size: 10px;
    margin-bottom: 15%;
}

.menuButtonDescription{
    width: 85%;
    float: right;
    font-weight: bolder;
    margin-top: 1px;
    font-size: 10px;
}

.fa-utensils{
    color: var(--yellowLightP);
    height: 30px;
}

.clipChildren div, span{
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
}

.menuIconContainer{
    float: left;
    height: 100%;
}

.circle{
    height: 30px;
    border-radius: 50px;
    padding-top: 9px;
    cursor: pointer;
}

.selectedDay{
    background-color: var(--yellowDarkP);
    color: white;
}